doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/stylesheets/style.css')

    body
        #main-container 
            #header
                h1 Welcome to the mugshot game
            #content
                block content

        script(src='https://cdn.jsdelivr.net/npm/dragula@3.7.3/dist/dragula.min.js' type="text/javascript")

        script(src='/javascripts/script.js')
        
        
