doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/stylesheets/style.css')
    body
        #main-container 
            #header
                h1 Welcome to the mugshot game
            #content
                block content


        script(type='text/javascript' src='scrape.js')
